h1 First Heading
h2 Second Heading
h3 Third Heading
h4 Fourth Heading
h5 Fifth Heading
h6 Sixth Heading

table
  thead
    tr
      th Year
      th Title
  tbody
    tr
      td 1996
      td Tomb Raider
    tr
      td 1997
      td Tomb Raider &#8545;
    tr
      td 1998
      td Tomb Raider &#8546;
    tr
      td 1999
      td Tomb Raider: The Last Revelation
    tr
      td 2000
      td Tomb Raider: Chronicles


form
  p
    label
      | Text
      br
      input(placeholder="Type Something…")

  p
    label
      | Disabled
      br
      input(disabled, placeholder="Nope")

  p
    label
      | Textarea
      br
      textarea(placeholder="Lorem ipsum dolor sit amet…")

  p
    label
      | Select
      br
      select
        option This
        option That
        optgroup(label="Something")
          option Here
          option There
        optgroup(label="Other")
          option Now
          option Then

  p
    label
      input(type="checkbox")
      | Checkbox


  fieldset
    legend Radio
    label
      input(type="radio" name="radio" value="1")
      | This 
    label
      input(type="radio" name="radio" value="2")
      | That 
    label
      input(type="radio" name="radio" value="3")
      | Other 

  br

  p
    label
      | Number
      br
      input(type="number", placeholder="0")

  p
    label
      | Range
      br
      input(type="range")

  p
    label
      | File
      br
      input(type="file")

  p
    label
      | Colour
      br
      input(type="color")

  p
    label
      | Select Multiple
      br
      select(multiple)
        option This
        option That
        optgroup(label="Something")
          option Here
          option There
        optgroup(label="Other")
          option Now
          option Then

  p
    button(type="button") Nothing
    button(type="submit" class="_primary") Submit
    button(type="button" class="_good") Done
    button(type="reset" class="_bad") Reset
