include head.pug
include header.pug

main
  .layout
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    include demo.pug

include footer.pug
include foot.pug
